In [1]:
#required libraries
#pip install pandas
#pip install numpay
#pip install -U pandasql

In [2]:
import pandas as pd

In [3]:
#reading dataset from local computer 
dataframe = pd.read_csv('name.csv',encoding = 'utf8')

In [4]:
dataframe.head(5)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

# 1) products without prices

In [5]:
product_without_price = pd.isnull(dataframe["price_string"])
   
# filtering data
# displaying data only without price
dataframe[product_without_price]

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

# 2)count of products without prices and with price

In [6]:
#counting product without price 
#isnull fumction is used 
products_prices_with_null=pd.isnull(dataframe["price_string"]).sum()
print("products without prices :",products_prices_with_null)

#counting product with price 
#notnull fumction is used
products_with_prices=pd.notnull(dataframe["price_string"]).sum()
print("products with prices :",products_with_prices)

products without prices : 8220000
products with prices : 5510000

In [7]:
#couting total null values for each columns
dataframe.isnull().sum()

uuid                       0
price_string         8220000
price_string_unf    13420000
product_type           10000
level_1                50000
category               10000
dtype: int64

In [8]:
#removing null values for each columns

newdataframe=dataframe.dropna()

In [9]:
newdataframe.isnull().sum()

uuid                0
price_string        0
price_string_unf    0
product_type        0
level_1             0
category            0
dtype: int64

In [10]:
newdataframe = newdataframe.reset_index(drop = True)
newdataframe.head(5)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,8e4fdac3-afc9-4242-9136-90d13e116724,$6.75,$6.75,Q29mZmVlIEJlYW5z,RGFyayBSb2FzdA,Z3JvY2VyaWVz
1,53beedf4-ed7c-4407-9081-7ae41f3a7282,$15.00,$15.00,RG91Z2ggSmFy,UGxheWRvdWdoIC8gUGxheWRvaA,VG95cyBhbmQgR2FtZXM
2,d3a85b19-cf28-413a-b8ee-518622025bdd,$18.95,$18.95,QmFieSBXaXBlcw,QmFieSBXaXBlcw,QmFieWNhcmU
3,623f06c9-5147-471a-a58f-162caca48a32,$459.99,$459.99,U3Ryb2xsZXJzL0NhciBzZWF0cy8gQWNjZXNzb3JpZXM,Q2FyIHNlYXRz,QmFieWNhcmU
4,d72603be-24ec-4cbe-b74f-3e6175f7d4d6,$619.00,$619.00,U3Ryb2xsZXJzL0NhciBzZWF0cy8gQWNjZXNzb3JpZXM,U3Ryb2xsZXJz,QmFieWNhcmU

In [11]:
#checking information about columns
newdataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   uuid              240000 non-null  object
 1   price_string      240000 non-null  object
 2   price_string_unf  240000 non-null  object
 3   product_type      240000 non-null  object
 4   level_1           240000 non-null  object
 5   category          240000 non-null  object
dtypes: object(6)
memory usage: 11.0+ MB

# 3 Separating price into currency and value columns

In [12]:
#splitting using split
newdata= newdataframe["price_string"].str.split("(\$+)", expand = True)

#creating two new coloumns as "currency "and "price_value"
newdataframe["currency"]=newdata[1]
newdataframe["price_value"] =newdata[2]

#Removing old  price column 
newdataframe.drop(columns =["price_string"], inplace = True)

newdataframe.head(5)

,uuid,price_string_unf,product_type,level_1,category,currency,price_value
0,8e4fdac3-afc9-4242-9136-90d13e116724,$6.75,Q29mZmVlIEJlYW5z,RGFyayBSb2FzdA,Z3JvY2VyaWVz,$,6.75
1,53beedf4-ed7c-4407-9081-7ae41f3a7282,$15.00,RG91Z2ggSmFy,UGxheWRvdWdoIC8gUGxheWRvaA,VG95cyBhbmQgR2FtZXM,$,15.00
2,d3a85b19-cf28-413a-b8ee-518622025bdd,$18.95,QmFieSBXaXBlcw,QmFieSBXaXBlcw,QmFieWNhcmU,$,18.95
3,623f06c9-5147-471a-a58f-162caca48a32,$459.99,U3Ryb2xsZXJzL0NhciBzZWF0cy8gQWNjZXNzb3JpZXM,Q2FyIHNlYXRz,QmFieWNhcmU,$,459.99
4,d72603be-24ec-4cbe-b74f-3e6175f7d4d6,$619.00,U3Ryb2xsZXJzL0NhciBzZWF0cy8gQWNjZXNzb3JpZXM,U3Ryb2xsZXJz,QmFieWNhcmU,$,619.00

In [13]:
import numpy as np #import numpy to convert object type to float type

newdataframe["price_value"]= newdataframe["price_value"].astype(np.float64) #converting object Dtype to float type

In [14]:
# now checking for data type that we changed using info()
newdataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   uuid              240000 non-null  object
 1   price_string_unf  240000 non-null  object
 2   product_type      240000 non-null  object
 3   level_1           240000 non-null  object
 4   category          240000 non-null  object
 5   currency          240000 non-null  object
 6   price_value       240000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 12.8+ MB

# 4) categories with average price product

In [15]:
pip install -U pandasql

Requirement already satisfied: pandasql in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from pandasql) (1.22.1)
Requirement already satisfied: pandas in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from pandasql) (1.4.0)
Requirement already satisfied: sqlalchemy in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from pandasql) (1.4.42)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy->pandasql) (1.1.3.post0)
Requirement already satisfied: six>=1.5 in c:\users\zzaid\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
from pandasql import sqldf

In [17]:
pysqldf = lambda q: sqldf(q, globals())

In [18]:
query = 'SELECT category,avg(price_value) from newdataframe group by category'
avg_category= pysqldf(query)
avg_category

                           category  avg(price_value)
0  Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz        119.428571
1                       QmFieWNhcmU        195.153333
2                          SGVhbHRo         50.666667
3               VG95cyBhbmQgR2FtZXM         20.000000
4                      Z3JvY2VyaWVz          6.750000
5                  cGV0IHN1cHBsaWVz         29.666667